<div class="container">
  <div class="row">
    <h2>Welcome, <%= @user.name %></h2>
    <p> You currently have _____ items left. </p>
  </div>

  <div class="row">
    <h3> Your BlocOff List: </h3>

  </div>
</div>
