/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* Welcome Page
*******************************/

.jumbotron {
  /*background-color: #AFEEEE;*/
  background: #000 url("jumbotron.png") center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

// $white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

#todo-items-wrapper {
	.row {
		width: 50%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		.complete {
			width: 20%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
      margin: 0;
			padding: 1em 0;
		}
		.todo-item {
			width: 30%;
			float: left;
			margin: 0;
			padding: 1em;
			font-weight: 100;
      font-size: 20px;

		}
    .days-remaining {
      width: 30%;
      float: left;
      margin: 0;
      padding: 1em;
      font-weight: 100;
      font-size: 20px,
    }
		.trash {
			width: 20%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
      margin: 0;
		}
		i {
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
}
